body {
  background-image: url(Sigirya.jpg);
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* background-position: center; */
  background-size: contain;
  width: 100vw;
  height: auto;
}

.description {
  margin-top: 700px;
  font-size: 20px;
  text-align: justify;
}

.eventRow1 {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
}

.eventRow2 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 25px;
  margin-right: 25px;
}
