.navbar {
  background-color: black;
  opacity: 0.75;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.linkNames {
  display: flex;
  gap: 25px;
  margin-right: 20px;
  margin-bottom: 3px;
}

.link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}

.appName {
  color: white;
  font-size: 20px;
}

.icon {
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
